{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<style>
table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #aaa;
  padding: 0.5rem;
  text-align: left;
}

td {
  font-size: 0.875rem;
}

.btn-group {
  padding: 1rem 0;
}

button {
  background-color: #fff;
  border: 1px solid #000;
  margin-top: 0.5rem;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}
</style>
</head>
<script>
function export2csv() {
  let data = "";
  const tableData = [];
  const rows = document.querySelectorAll("table tr");
  for (const row of rows) {
    const rowData = [];
    for (const [index, column] of row.querySelectorAll("th, td").entries()) {
      // To retain the commas in the "Description" column, we can enclose those fields in quotation marks.
      if ((index + 1) % 3 === 0) {
        rowData.push('"' + column.innerText + '"');
      } else {
        rowData.push(column.innerText);
      }
    }
    tableData.push(rowData.join(","));
  }
  data += tableData.join("\n");
  const a = document.createElement("a");
  a.href = URL.createObjectURL(new Blob([data], { type: "text/csv" }));
  a.setAttribute("download", "data.csv");
  document.body.appendChild(a);
  a.click();
  document.body.removeChild(a);
}</script>

<body>

<h2>Profile Details</h2>

<table>
  <thead>
    <tr>
      <th>Email Address</th>
      <th>Contact</th>
      <th>Resumes</th>
    </tr>
  </thead>
  <tbody>
    {% for profile in allprofile.all %}
    <tr>
      <td>{{ profile.email }}</td>
      <td>{{ profile.number }}</td>
      <td><a href="media/{{profile.file.name}}">resume</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="btn-group">
  <button onclick="export2csv()">Download to csv</button>
</div>
<br/>
<hr>
<br/>
<form  method="post" enctype="multipart/form-data">
  {% csrf_token %}
  Upload Resume:
  <br/>
  <br/>
  <input type="file" name="file1" required/>
  <input  class="btn btn-primary" type="submit" value="Upload">


</form>
</body>
</html>
